* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: verdana;
  font-size: 14px;
  padding: 50px 20px;
}

h1 {
  margin-bottom: 30px;
}

form {
  display: flex;
}

form input {
  margin-right: 5px;
  margin-bottom: 10px;
}

form button {
  width: 200px;
  margin-right: 5px;
  margin-bottom: 10px;
}

form div {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
}

section table {
  max-width: 615px;
  border: 2px solid orange;
  border-collapse: collapse;
}

section table th {
  background-color: orange;
  width: 205px;
  padding: 10px;
  color: black;
}

section table th:nth-of-type(2) {
  background-color: rgb(223, 148, 8);
}

tr {
  background-color: rgb(44, 8, 73);
  color: white;
}

td {
  text-align: left;
  width: 205px;
  padding: 20px;
  border: 2px solid orange;
}
